@import "tailwindcss";

/* Variáveis */
:root{
  --background: linear-gradient(#002236, #000000, #002236);
  --foreground: #000000;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root{
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  font-family: var(--font-inter, Inter, sans-serif);
  font-size: 1rem;
}

.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
  font-size: 2.6rem !important;
  font-weight: 400;
}

h1.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
}

/* ===== Estilos de Botões ===== */
.btn {
  padding: 0.5rem 2rem;
  border-radius: 0.375rem;
  border: none;
  width: 80%;
  height: 5.3vh;
  font-weight: 600;
  margin-top: 2vh;
  background-color: #e5e7eb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover { background-color: #d1d5db; }

.btn-primary { 
  background: linear-gradient(to right, #3489F2, #0BB0D7); 
}
.btn-primary:hover {  background: linear-gradient(to right, #135bb4, #0f809a); }

/* === Responsividade === */
@media (max-width: 768px) {
  .title { font-size: 2rem !important; }

  /* seletor que corresponde à classe HTML "w-[38vw]" precisa ser escapado */
  .w-\[38vw\] { width: 90%; }

  .px-20 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  .title { font-size: 1.5rem !important; }
  h3 { font-size: 0.9rem; }

  /* idem: corresponde à classe "w-[7vw]" */
  .w-\[7vw\] { width: 20%; }
}
