@import "tailwindcss";


:root {
  --background: linear-gradient(#002236, #000000, #002236);
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  font-family: var(--font-inter, Inter, sans-serif); 
  font-size: 1rem;
}

.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
  font-size: 2.5rem !important;
  font-weight: 400; 
}

h1.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
}