@import "tailwindcss";


:root {
  --background: linear-gradient(#002236, #000000, #002236);
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  font-family: var(--font-inter, Inter, sans-serif); 
  font-size: 1rem;
}

.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
  font-size: 2.6rem !important;
  font-weight: 400; 
}

h1.title {
  font-family: var(--font-marmelad, cursive, sans-serif) !important;
}

/* globals.css */
@media (max-width: 768px) {
  .title {
    font-size: 2rem !important; /* Reduz o tamanho da fonte para tablets */
  }

  .w-[38vw] {
    width: 90%; /* Contêiner principal ocupa 90% da largura em telas menores */
  }

  .px-20 {
    padding-left: 1rem;
    padding-right: 1rem; /* Reduz o padding em telas menores */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem !important; /* Reduz o tamanho da fonte para celulares */
  }

  h3 {
    font-size: 0.9rem; /* Ajusta o tamanho do subtítulo */
  }

  .w-[7vw] {
    width: 20%; /* Aumenta proporcionalmente o logo em telas pequenas */
  }
}